#default 
.gradle
.idea
build

# Archivos generados automáticamente
apiclient_reactive/target/
apiclient_reactive/idea/

# Directorios generados por IDEs
apiclient_reactive/gradle/

#build
**/build/

apiclient_reactive/HELP.md
apiclient_reactive/.gradle
apiclient_reactive/build
apiclient_reactive/!gradle/wrapper/gradle-wrapper.jar
apiclient_reactive/**/src/main/**/build/
apiclient_reactive/**/src/test/**/build/



### IntelliJ IDEA ###
apiclient_reactive/.idea
apiclient_reactive/*.iws
apiclient_reactive/*.iml
apiclient_reactive/*.ipr
apiclient_reactive/out/
!**/src/main/**/out/
!**/src/test/**/out/



